{{ define "main" }}

<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Bienvenue ! </h1>
      <p>Je suis Pierre-Antoine Bouttier, Ingénieur de recherche, travaillant à GRICAD.</p> 
      <p>Sur ce site, vous retrouverez la timeline des mes différentes interventions, en cliquant sur le lien ci-dessous : </p>
      <div align="center">
          <a class="read-more button" href="/timeline">Les talks → </a>
        </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
